body{
  background-color: white;
  color:black;
  
}
a{
  text-decoration: none !important;
}
button{
  color: black !important;
  background-color:blue !important;
  border-radius: 8px !important;
  border:none !important;
  padding:2px !important;
}